.heatmap-chart {
    background: #fff;
    margin: 5px;
}
.heatmap-month {
    stroke: #333;
    stroke-width: 1px;
}
.heatmap-day-label{
    fill: #666;
    font-size: 8px;
}
.heatmap-month-label{
    fill: #666;
    font-size: 12px;
}
.heatmap-day{
    
}
.heatmap-pointer{
    cursor:pointer;
}
.heatmap-tooltip {	
    position: absolute;			
    text-align: center;			
    width: 150px;					
    height: 40px;					
    padding: 2px;				
    font: 14px helvetica;		
    background: white;	
    border: 1px solid;		
    border-radius: 4px;	
    border-color: #6086c4;
    pointer-events: none;			
}