.chart {
    background: #fff;
    margin: 5px;
}
.month {
    stroke: #333;
    stroke-width: 1px;
}
.dayLabel{
    fill: #666;
    font-size: 8px;
}
.monthLabel{
    fill: #666;
    font-size: 12px;
}