.heatmap-chart {
    background: #fff;
    margin: 5px;
}
.heatmap-month {
    stroke: #333;
    stroke-width: 1px;
}
.heatmap-day-label{
    fill: #666;
    font-size: 8px;
}
.heatmap-month-label{
    fill: #666;
    font-size: 12px;
}
.heatmap-day{
    
}